[submodule "api-softree"]
	path = api-softree
	url = https://github.com/mark-by/api-softree.git
[submodule "deployment"]
	path = deployment
	url = https://github.com/MuradyanArtem/softree-deploy.git
[submodule "softree-deploy"]
	path = softree-deploy
	url = https://github.com/MuradyanArtem/softree-deploy
